*{
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'JetBrains Mono', monospace;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
 
}
.main__container{
  width: 540px;
 

  
  
}
.title{
  color:aliceblue;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}